<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a [routerLink]="['/home']" class="navbar-brand" style="color: white">Floh & Go</a>
    <button class="navbar-toggler align-items-md-end" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between flex-row" id="navbarSupportedContent">
      <ul class="navbar-nav align-content-end">
        <li id="home" class="nav-item">
          <a class="nav-link active" style="color: white" aria-current="page" [routerLink]="['/home']">Startseite</a>
        </li>
      </ul>
      <ul class="navbar-nav align-content-end " id="right" style="color: white">
        <li class="nav-item" *ngIf="!(LoggedIn) as LoginStatus">
          <a class="nav-link " *ngIf="LoginStatus" [routerLink]='["/login"]' style="color: white">Anmelden</a>
        </li>
        <li class="nav-item" *ngIf="!(LoggedIn) as LoginStatus">
          <a class="nav-link" *ngIf="LoginStatus" [routerLink]='["/register-data"]' style="color: white">Registrieren</a>
        </li>
        <li class="nav-item" *ngIf="(LoggedIn) as LoginStatus">
          <a class="nav-link " *ngIf="LoginStatus" [routerLink]='["/profil/" + userid]' style="color: white">Profil</a>
        </li>
        <li class="nav-item" *ngIf="(LoggedIn) as LoginStatus">
          <a class="nav-link " *ngIf="LoginStatus" [routerLink]='["/chats"]' style="color: white">Chat</a>
        </li>
        <li class="nav-item" *ngIf="(LoggedIn) as LoginStatus">
          <a class="nav-link " *ngIf="LoginStatus" (click)="logout()" style="color: white">Abmelden</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
