<section class="h-100 gradient-custom-2" style="justify-content: center; padding: 0px;
margin-left: 50px">
  <div class="container py-5 h-100" style="justify-content: center">
    <div class="row d-flex justify-content-center align-items-center h-100" style="justify-content: center">
      <div class="col col-lg-9 col-xl-7">
        <div class="card profileBackground">


          <div *ngFor="let message of messages" class="container">
            <p>{{users[message.user].givenName}} {{users[message.user].familyName}} schreibt:</p>
            <p>{{message.text}}</p>
            <span class="time-right">{{message.timestamp | date: 'dd.MM.yy HH:mm'}}</span>
          </div>
        </div>


      </div>
      <br><br>

      <form [formGroup]="messageForm">
      <div class="form-group">
        <textarea [(ngModel)]="text" formControlName="text" type="text" class="form-control "
                  id="registerdescription"
                  placeholder="Nachricht"></textarea>
      </div>
      <button id="registerbutton" type="submit" class="btn btn-secondary button-button-container" (click)="sendMessage()">
        Senden
      </button>
      </form>
    </div>
  </div>
</section>

